/* latest-news */

.latest-news-con {
	margin-top: 7vw;
	width: 50%;
	margin-left: 12%;
}

.latest-news-link {
	overflow: hidden;
	height: 35vw;
	position: relative;
}

.latest-news-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: -1;
	min-height: 100%;
}

.latest-news-text-con {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
}

.latest-news-date {
	width: 30%;
	padding: 0.5vw 1vw;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
	-ms-flex-wrap: nowrap;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-flex-pack: justify;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;	
  	background-color: #cfa144;
  	color: white;
  	margin: 0;
  	font-weight: bold;
}

.latest-news-text {
	margin: 0;
	background-color: rgba(17, 17, 17, 0.8);
	padding: 2vw 1vw;
	color: white;
	font-weight: bold;
	white-space: nowrap;
  	overflow: hidden;
}

.latest-news-con .slick-arrow::before {
	background-color: #cfa144;
}

.latest-news-con .slick-arrow:hover::before {
	background-color: #ca9528;
}	

@media only screen and (max-width: 1024px) {

	.latest-news-con {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	.latest-news-link {
		height: 65vw;
	}

}	

@media only screen and (max-width: 599px) {

	.latest-news-date {
		width: 60%;
	}

}

/* the-end-of-latest-news */



/* gallery */ 

.gallery-main-con {
	margin-top: 12vw;
}

.gallery-title {
	color: #cfa144;
	text-align: center;
}

.gallery-list {
	margin-top: 7vw;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: flex-start;
	-ms-flex-pack: start;	
	align-content: flex-start;
	-ms-flex-line-pack: start;
	align-items: flex-start;
  	-ms-flex-align: start;
  	height: 35vw;
}

.gallery-link {
	width: 25%;
	height: 50%;
	background-color: red;
	position: relative;
	overflow: hidden !important;
}

.gallery-link::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	transition: background-color 1s ease;
	z-index: 2; 
}

.gallery-link:hover::before {
	background-color: rgba(17, 17, 17, 0.5);
}

.gallery-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	transition: all 1s ease;
}

.gallery-link:hover .gallery-img {
	color: white;
	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform: scale(1.3);
}

.gallery-icon {
	font-size: 40px !important;
	position: absolute;
	z-index: 2;
	top: calc(50% - 20px);
	left: calc(50% - 20px);
	color: transparent;
	transition: color 1s ease;
}

@media (hover: hover) {

	.gallery-link:hover .gallery-icon {
		color: white;
	}

}	

.gallery-main-con {

}

.gallery-main-con {

}

@media only screen and (max-width: 599px) {

	.gallery-list {
		height: 120vw !important;
		
	}

	.gallery-link {
		width: 50%;
		height: 25% !important;
	}	

}	

/* the-end-of-gallery */



/* videos */

.videos-main-con {
	width: 60%;
	margin: 12vw auto 0;
}

.videos-head {
	background-color: grey;
	padding: 1rem;
	margin: 0;
	border-top-right-radius: 1vw; 
	border-top-left-radius: 1vw;
}

.videos-title {
	margin: 0;
	color: #323542;
}

.videos-title span {
	color: lightgrey;
	font-weight: normal;
	margin-left: 1vw;
}

.videos-title i {
	color: #cfa144;
}

.videos-con {
	display: block;
	margin: 0;
	padding: 0 !important;
	color: white;
	background-color: #323542;
	border-bottom-right-radius: 1vw; 
  	border-bottom-left-radius: 1vw;
}

.videos-item {
	background-color: #323542;
	font-size: 0 !important;
}

.videos-item * {
	font-size: 16px;
}

.videos-item-text-con {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.videos-item-title {
	margin-top: 0;
}

.videos-item-title span {
	color: lightgrey;
}

.videos-item-stars-num {
	margin-right: 1vw;
	padding: 0.3rem;
	background-color: #f55f4b;
	border-radius: 3px;
}

.videos-item-star.fl-active {
	color: #cfa144;
}

.videos-item-date {
	padding-bottom: 1rem;
	border-bottom: 1px solid white;
}

.videos-item-more-btn {
	color: #cfa144;
}

.videos-item-info-con {
	margin-top: 2rem;
}

.videos-item-info span {
	font-weight: bold;
}

.videos-item-visit-page-btn {
	display: block;
	width: 90%;
	padding: 0.5rem 0;
	border-radius: 5px;
	background-color: #cfa144;
	color: white;
	text-align: center;
	transition: background-color 0.3s linear;
}

@media only screen and (hover: hover) {

	.videos-item-visit-page-btn:hover {
		background-color: transparent;
	}

}

.videos-item-visit-page-btn i {
	position: absolute;
	left: 1rem;
}

.videos-item-img-con {
	margin-left: 5%;
	width: 45%;
	height: 230px;
	display: inline-block;
	vertical-align: bottom;
	overflow: hidden;
	border-bottom: 5px solid #cfa144;
	position: relative;
}

.videos-item-img-con-in-smaller-screen {
	display: block;
	margin: 1rem auto 0 !important;
	width: 80vw;
	height: 50vw;
}

.videos-item-img-play-btn {
	position: absolute;
	font-size: 30px;
	top: calc(50% - 15px);
	left: calc(50% - 15px);
	color: white;
}

.videos-item-img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.videos-main-con .slick-slide {
  padding: 0 1rem;
  background-color: #323542;
}

.videos-main-con .slick-arrow::before {
	top: 2vw;
	transition: background-color 0.3s ease;
	background-color: #cfa144;
}

.videos-main-con .slick-prev::before {
	content: "\f053";
	left: auto;
	right: calc(30px + 3vw);
}

.videos-main-con .slick-next::before {
	content: "\f054";
	right: 2vw;
}

@media only screen and (hover: hover) {

	.videos-main-con .slick-arrow:hover::before {
		background-color: #ca9528;
	}

}	

.videos-main-con .slick-arrow:active::before {
	background-color: #ca9528;
}

@media only screen and (max-width: 1024px) {

	.videos-main-con {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}

}	

@media only screen and (min-width: 801px) {

	.videos-item-img-con-in-smaller-screen {
		display: none;
	}

}	

@media only screen and (max-width: 800px) {

	.videos-item-text-con {
		width: 100%;
	}

	.videos-item-img-con:not(.videos-item-img-con-in-smaller-screen) {
		display: none;
	}

	.videos-item-visit-page-btn {
		margin: auto;
	}

	.videos-main-con .slick-arrow::before {
		top: 4vw;
	}

	.videos-main-con .slick-next::before {
		right: 4vw;
	}
	.videos-main-con .slick-prev::before {
		right: calc(30px + 8vw);
	}

}

/* the-end-of-videos */



/* main-posts */

.main-posts-img-text-con {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.main-posts-img-day {
	background-color: #cfa144;
	color: white;
	text-align: center;
	padding: 0.5vw 1vw;
	margin: 0;
	font-weight: bold;
}

.main-posts-img-hour {
	background-color: #3e4e69;
	color: white;
	text-align: center;
	padding: 0.5vw 1vw;
	margin: 0;
	font-weight: bold;
}

.main-posts-btn-list {
	margin: 0 !important;
	height: 10%;
	display: inline-block;
	width: 100%;
	font-size: 0;
}

.main-posts-btn {
	background-color: #f2f2f2;
	padding: 0.5rem 0;
	width: calc(100% / 3);
	margin: 0;
	text-align: center;
	color: #cfa144;
	font-size: 16px;
	font-weight: bold;
	transition: background-color 0.3s ease;
}

@media only screen and (hover: hover) {

	.main-posts-btn:hover {
		background-color: #3e4e69;
	}

}	

.main-posts-btn-icon {
	margin-right: 0.5vw;
}

.main-posts-img-text-con {

}

.main-posts-img-text-con {

}

.main-posts-img-text-con {

}

/* the-end-of-main-posts */



/* download-app */

.download-app-main-con {
	font-size: 0;
	margin-top: 12vw;
	padding: 10%;
	width: 80%;
	background-color: #323542;
	color: white;
}

.download-app-main-con *:not(h1, h2, h3) {
	font-size: 16px;
}

.download-app-con {
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

.download-app-top-title {
	display: inline-block;
	font-weight: normal;
	padding-bottom: 1rem;
	border-bottom: 1px solid #cfa144;
}

.download-app-title {
	color: #cfa144;
}

.download-app-bottom-title {
	color: #cfa144;
	margin-top: 4rem;
}

.download-app-text {
	margin-top: 4rem;
}

.download-app-link {
	padding: 1rem 4rem;
	border-radius: 3rem;
	margin-top: 4rem;
	margin-right: 2rem;
}

.download-app-link i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

.download-app-link span {
	display: inline-block;
	vertical-align: middle;
}

.download-app-on-google-play-btn {
	color: white;
	border: 1px solid white;
	text-align: center;
	transition: background-color 0.3s ease;
}

.download-app-on-apple-store-btn {
	color: white;
	background-color: #cfa144;
	border: 1px solid #cfa144;
	text-align: center;
	transition: background-color 0.3s ease;
}

@media only screen and (hover: hover) {

	.download-app-on-google-play-btn:hover {
		background-color: #cfa144;
		border-color: #cfa144;
	}

	.download-app-on-apple-store-btn:hover {
		background-color: #ca9528;
		border-color: #ca9528;
	}

}	

.download-app-img-con {
	margin-left: 200px;
	width: calc(50% - 200px);
	overflow: hidden;
}

.download-app-img {
	width: 90%;
	height: auto;
}

@media only screen and (max-width: 1024px) {

	.download-app-con {
		width: 100%;
	}

	.download-app-img-con {
		width: 90%;
		display: block;
		margin: 100px auto 0;
	}

	.download-app-img {
		width: 100%;
		height: auto;
	}

	.download-app-link {
		display: block;
		padding-left: 0;
		padding-right: 0;
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}	

/* the-end-of-download-app */



/* search */

.fl-navbar-results-of-search {
	max-height: 300px;
}

@media only screen and (max-width: 1024px) {

	.fl-navbar-results-of-search {
		max-height: 200px;
	}

}

/* the-end-of-search */