
.fl-post-container {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.fl-post-list {
	margin-top: 100px;
}

.fl-post-item:nth-child(2) {
	margin-left: 0;
	margin-right: 0;
}

.fl-comments-container {
	margin-left: 5%;
}	