
header {
	background-image: url('../images/header-bg.jpg');
	min-height: 320px;
	padding-bottom: 30px;
}



/* navbar */

.fl-navbar.navbar-is-changed {
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 1px solid #ffffff;
}

.navbar-is-changed .fl-nav-link {
	color: #111111;
}

.navbar-links-title {
	margin: 0 0 0.5rem;
	color: #cfa144;
	text-align: center;
}

/* the-end-of-navbar */



/* sm-screen-menu */

.sm-screen-menu-link-line {
	background-color: #88889b;
	position: absolute;
	top: 0;
	height: 100%;
	width: 1px;
	right: 50px;
}

/* the-end-of-sm-screen-menu */


